body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.header {
  background-color: #2980b9;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: relative;
}

.logout-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #0eb969;
  color: #fff;
  border-radius: 40px;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  width: 80px;
  margin-top: 50px;

}

.logout-button:hover {
  background-color: #b91592;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 500px;
  text-align: center;
  margin: 20px;
}

.form-card h2 {
  color: #2980b9;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

button {
  background-color: #2980b9;
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

button:hover {
  background-color: #1f6f9f;
}

.result {
  margin-top: 20px;
  text-align: center;
  padding: 15px;
  background-color: #e9ecef;
  border-radius: 4px;
}

.result h2 {
  margin: 0;
  color: #28a745;
}

.result p {
  font-size: 24px;
  font-weight: bold;
}

.footer {
  background-color: #34495e;
  color: #fff;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
